.profile-settings{
  overflow: hidden;
  height: 60vh;
  width: 60vw;
  margin: 50px auto;
  border-radius: 2px;
  padding: 20px;
  background-color: wheat;
}

.list{
  margin: 0 auto;
}

a{
  text-decoration: none;
}

.right{
  float: left;
  width: 90vw;
  height: 100vh;
}