.overlay h1 {
  text-align: center;
  position: relative;
  color: #fdc554c0;
  font-size: 12vh;
}
h1:before {
  text-align: center;
  content: attr(data-text);
  position: absolute;
  overflow: hidden;
  font-size: 12vh;
  white-space: nowrap;
  color: rgb(255, 255, 255);
  animation: loading 8s linear;
}
@keyframes loading {
  0% {
      max-width: 0;
  }
}

